$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$font-path: "../bower_components/patternfly-sass/assets/fonts/patternfly/";
$fa-font-path: "../bower_components/font-awesome-sass/assets/fonts/font-awesome/";
//$navbar-pf-bg-color: #393F45 !default;

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
@import "patternfly-sass/assets/stylesheets/_patternfly.scss";
// endbower

