<div class="modal-header">
  <h3 class="modal-title">Privacy Policy and Term of Use</h3>
</div>
<div class="modal-body">
  <div>
    <p>Privacy Statement</p>

    <p>CROSSOVER respects your privacy. This Privacy Statement describes the ways we collect information from and about
      you, and what we do with the information, so that you may decide whether or not to provide information to us. By
      accessing our Website, you agree to this Privacy Statement. This is our complete and exclusive Privacy Statement
      and it supersedes any earlier version. </p>

    <p>What this Privacy Statement Covers</p>

    <p>This Privacy Statement covers how our company treats personal information, if any, collected and received through
      our website. Personal information is information that can be used to identify a person that is not in the public
      domain. Examples include your name, address, e-mail address, and other information not publicly available.</p>

    <p>Contacting Us</p>

    <p>If you have any questions about this Privacy Statement, the practices or concerns of this site, please contact
      our Privacy Officer at: hr@crossover.com. </p>

    <p><em>Updated: December 16, 2014</em></p></div>

</div>
